/* Root Colors */
:root {
  --primary-color: #52b1ff; /* Azul Brilhante */
  --secondary-light: #a3d5ff; /* Azul Claro */
  --secondary-dark: #1e81d3; /* Azul Médio */
  --accent-color: #ffb152; /* Laranja Suave */
  --background-light: #f1faff; /* Cinza Azulado Claro */
  --text-color-dark: #333333; /* Cinza Escuro */
  --highlight-color: #ff5252; /* Vermelho Suave */
}

/* General Styles */
body {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  background-color: var(--background-light);
  margin: 0;
  padding: 0;
  color: var(--text-color-dark);
}

/* Navbar */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo img {
  max-height: 40px;
}

.navbar .menu {
  display: flex;
}

.Div_b {
  margin-right: 2rem; /* Espaçamento de dois dedos para a esquerda */
  display: flex;
  align-items: center;
}

.navbar .nav-link {
  text-decoration: none;
  color: var(--primary-color);
  margin: 0 10px;
  font-weight: 600;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: var(--secondary-dark);
}

/* Main Section */
.main-content {
  padding: 80px 20px 20px;
  text-align: center;
}

.hero {
  background: linear-gradient(135deg, var(--secondary-light), var(--secondary-dark));
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: #ffffff;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-text {
  font-size: 1.2rem;
}

/* Image Container */
.image-container {
  text-align: center;
  padding: 20px 0;
}

.image-container img {
  max-width: 50%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}

/* About Section */
.about-section {
  background-color: #ffffff;
  padding: 40px 20px;
  text-align: center;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.about-section p {
  font-size: 1.1rem;
  color: var(--text-color-dark);
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

/* Services Section */
.services-section {
  background-color: var(--background-light);
  padding: 40px 20px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Flexbox Adjustments for Service Cards */
.service-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  background-color: var(--secondary-light);
}

/* Responsive Design */
@media (max-width: 768px) {
  .service-card {
      flex-direction: column;
      text-align: center;
  }

  .service-card:nth-child(2) {
      flex-direction: column;
  }
}
